* { box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

body, section#rightcolumn { background-color: #f1f1f1; }

header, footer, nav a { text-align: center; }

header, div.card { background-color: white; }

footer, nav a:hover { background-color: #ddd; }

footer, div.fakeimg, div.card { padding: 20px; }

section#rightcolumn, section#leftcolumn { float: left; }

header { padding: 30px; }

header h1 { font-size: 50px; }

footer, div.card { margin-top: 20px; }

nav {
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:last-child { float: right; }

nav a:hover { color: black; }

section#leftcolumn { width:75%; }

section#rightcolumn {
  width: 25%;
  padding-left: 20px;
}

div.fakeimg {
  width: 100%; 
  background-color: #aaa;
}

section#leftcolumn div.fakeimg { height: 200px; }

section#rightcolumn div.fakeimg { height: 100px; }

main::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  section#leftcolumn, section#rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  nav a {
    width: 100%;
    float: none;
  }
}